.markdown-preview body {
    counter-reset: h2counter;
}

.markdown-preview h1 {
    counter-reset: h2counter;
}

.markdown-preview h2 {
    counter-reset: h3counter;
}

.markdown-preview h3 {
    counter-reset: h4counter;
}

.markdown-preview h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

.markdown-preview h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

.markdown-preview h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}

autocomplete-suggestion-list .right-label{
    max-width: 1800px;
}
